@model AIMS.Modules.StatusUpdate.Models.StatusUpdate
@{
    ViewBag.Title = "Status Update";
}

<!--#include virtual="includes/top.shtml" -->
<div class="status-update">

    <div class="content-header">
        <div class="pull-right">
            <button type="submit" class="btn btn-primary btn-xl" data-bind="click: update"><i class="fa fa-share-square-o"></i> Send Update</button>
        </div>
        <h1><i class="fa fa-bullhorn"></i>Update</h1>
    </div>
    <div id="error-placeholder"></div>
    <form class="form-horizontal" data-bind="submit: update">
        <div class="row">
            <!-- BEGIN Facility Status -->
            <div class="col-xs-12">
                <div class="box facility-report-box">
                    <div class="box-title">
                        <h3><i class="fa fa-plus-square"></i>Facility Status</h3>
                        <div class="box-tool">
                            <a data-action="collapse" href="#" title="Collapse"><i class="fa fa-chevron-up"></i></a>
                            <a data-action="close" href="#" title="Close"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <div class="row">
                            <div class="col-md-12">

                                <!-- Facility Status -->
                                <div id="input-facility-status" class="form-group system-status-row border-left border-green">
                                    <div class="col-sm-2 control-label">
                                        @*<strong>Memorial Hospital</strong>*@
                                        <label class="checkbox-inline">
                                            <input type="checkbox" id="facility-status-on-generator" value="On Generator" data-bind="checked: onGenerator">
                                            On Generator
                                        </label>
                                    </div>
                                    <div class="col-sm-4 col-xs-6">
                                        <label for="">General Status</label>
                                        <div class="btn-group btn-group-sm status-btns two-btns">
                                            <button type="button" class="btn btn-success" data-bind="css: { 'selected': status() == 'Open'}, click: toggleResourceStatus.bind($data,'Open')">Open</button>
                                            <button type="button" class="btn btn-danger" data-bind="css: { 'selected': status() == 'Closed'}, click: toggleResourceStatus.bind($data,'Closed')">Closed</button>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="form-group">
                                            <label for="projectedIBA">Projected IBA</label>
                                            <input type="number" class="form-control" id="projectedIBA" data-bind="value: projectedIba">
                                            <p class="help-block">Projected Immediate Bed Availability</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="input-facility-status-notes">Notes</label>
                                        <textarea class="form-control grow" rows="1" id="input-facility-status-notes" placeholder="Notes" data-bind="value: statusNote"></textarea>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Facility Status -->
            <!-- BEGIN Bed Status -->
            <div class="col-xs-12">
                <div class="box bed-report-box">
                    <div class="box-title">
                        <h3><i class="fa fa-hospital-o"></i>Beds</h3>
                        <div class="box-tool">
                            <a href="#" data-toggle="modal" data-target="#newGeneralRequest"><i class="fa fa-plus"></i> Request Help</a>
                            <a data-action="collapse" href="#" title="Collapse"><i class="fa fa-chevron-up"></i></a>
                            <a data-action="close" href="#" title="Close"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <div class="row">
                            <div class="col-md-12">

                                <!-- Legend -->
                                <div class="box-legend hidden-xs">
                                    <div class="row">
                                        <div class="col-xs-2">
                                            Bed Type
                                        </div>
                                        <div class="col-xs-2">
                                            <strong>Current Capacity</strong>
                                        </div>
                                        <div class="col-xs-2">
                                            <strong>Beds in Use</strong>
                                        </div>
                                        <div class="col-xs-3 col-xs-offset-3">
                                            <strong>Notes</strong>
                                        </div>
                                    </div>
                                </div>

                                <!-- ko foreach: beds -->
                                <div class="form-group border-left border-green calculate-beds-row">
                                    <div class="col-sm-2 control-label">
                                        <label data-bind="text: type"></label>
                                        @*<p><small>Standard Capacity <strong>50</strong></small></p>*@
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label class="visible-xs col-xs-3 control-label">Current Capacity</label>
                                            <div class="col-sm-12 col-xs-9">
                                                <input type="number" class="form-control current-capacity" data-bind="value: currentCapacity">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label class="visible-xs col-xs-3 control-label">Beds in Use</label>
                                            <div class="col-sm-12 col-xs-9">
                                                <input type="number" class="form-control beds-in-use" data-bind="value: inUse">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <p><i class="fa fa-square green"></i> <span class="number-available" data-bind="text: available"></span> Available</p>
                                    </div>
                                    <div class="col-sm-3 col-sm-offset-1">
                                        <textarea class="form-control grow" rows="1" placeholder="Notes" data-bind="value: notes"></textarea>
                                    </div>
                                </div>
                                <!-- /ko -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Bed Status -->
            <!-- BEGIN Staff Status -->
            <div class="col-xs-12">
                <div class="box staff-report-box">
                    <div class="box-title">
                        <h3><i class="fa fa-group"></i>Staff</h3>
                        <div class="box-tool">
                            <a href="#" data-toggle="modal" data-target="#newGeneralRequest"><i class="fa fa-plus"></i> Request Help</a>
                            <a data-action="collapse" href="#" title="Collapse"><i class="fa fa-chevron-up"></i></a>
                            <a data-action="close" href="#" title="Close"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <div class="row">
                            <div class="col-md-12">

                                <!-- Legend -->
                                <div class="box-legend hidden-xs">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            Staff Type
                                        </div>
                                        <div class="col-sm-3">
                                            <strong>Staffing</strong>
                                        </div>
                                        <div class="col-sm-2">
                                            <strong>Amount Short</strong>
                                        </div>
                                        <div class="col-sm-3 col-sm-offset-2">
                                            <strong>Notes</strong>
                                        </div>
                                    </div>
                                </div>

                                <!-- ko foreach: staff -->
                                <div class="form-group border-left border-green calculate-fuel-row" data-fuel-capacity="3700">
                                    <div class="col-sm-2 control-label">
                                        <label data-bind="text: type"></label>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="btn-group btn-group-sm status-btns two-btns">
                                            <button type="button" class="btn btn-success" data-bind="css: { 'selected': status() == 'Staffed'}, click: $root.toggleResourceStatus.bind($data,'Staffed'), uniqueName: true">Staffed</button>
                                            <button type="button" class="btn btn-danger" data-bind="css: { 'selected': status() == 'Short'}, click: $root.toggleResourceStatus.bind($data,'Short'), uniqueName: true">Short</button>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label for="input-physicians-amount-short" class="visible-xs col-xs-3 control-label">Amount Short</label>
                                            <div class="col-sm-12 col-xs-9">
                                                <input type="number" class="form-control amount-short" data-bind="value: amountShort">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-sm-offset-2">
                                        <textarea class="form-control grow" rows="1" placeholder="Notes" data-bind="value: notes"></textarea>
                                    </div>
                                </div>
                                <!-- /ko -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Staff Status -->
            <!-- BEGIN Systems Status -->
            <div class="col-xs-12">
                <div class="box systems-report-box">
                    <div class="box-title">
                        <h3><i class="fa fa-tachometer"></i>Systems</h3>
                        <div class="box-tool">
                            <a href="#" data-toggle="modal" data-target="#newGeneralRequest"><i class="fa fa-plus"></i> Request Help</a>
                            <a data-action="collapse" href="#" title="Collapse"><i class="fa fa-chevron-up"></i></a>
                            <a data-action="close" href="#" title="Close"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <div class="row">
                            <div class="col-md-12">

                                <!-- Legend -->
                                <div class="box-legend">
                                    <div class="row">
                                        <div class="col-xs-2">
                                            Utility Type
                                        </div>
                                        <div class="col-xs-7">
                                            <strong>Status</strong>
                                        </div>
                                        <div class="col-xs-3">
                                            <strong>Notes</strong>
                                        </div>
                                    </div>
                                </div>

                                <!-- ko foreach: systems -->
                                <div class="form-group system-status-row border-left border-green">
                                    <div class="col-sm-2 control-label">
                                        <label data-bind="text: type"></label>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="btn-group btn-group-sm status-btns three-btns">
                                            <button type="button" class="btn btn-success" data-bind="css: { 'selected': status() == 'Operational'}, click: $root.toggleResourceStatus.bind($data,'Operational'), uniqueName: true">Operational</button>
                                            <button type="button" class="btn btn-warning" data-bind="css: { 'selected': status() == 'Partial'}, click: $root.toggleResourceStatus.bind($data,'Partial'), uniqueName: true">Partial</button>
                                            <button type="button" class="btn btn-danger" data-bind="css: { 'selected': status() == 'Non Operational'}, click: $root.toggleResourceStatus.bind($data,'Non Operational'), uniqueName: true">Non Operational</button>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <textarea class="form-control grow" rows="1" placeholder="Notes" data-bind="value: notes"></textarea>
                                    </div>
                                </div>
                                <!-- /ko -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Systems Status -->
            <!-- BEGIN Fuel Status -->
            <div class="col-xs-12">
                <div class="box fuel-report-box">
                    <div class="box-title">
                        <h3><i class="fa fa-tint"></i>Fuel</h3>
                        <div class="box-tool">
                            <a href="#" data-toggle="modal" data-target="#newGeneralRequest"><i class="fa fa-plus"></i> Request Fuel</a>
                            <a data-action="collapse" href="#" title="Collapse"><i class="fa fa-chevron-up"></i></a>
                            <a data-action="close" href="#" title="Close"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <div class="row">
                            <div class="col-md-12">

                                <!-- Legend -->
                                <div class="box-legend hidden-xs">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            Fuel Type
                                        </div>
                                        <div class="col-sm-3">
                                            <strong>Status</strong>
                                        </div>
                                        <div class="col-sm-2">
                                            <strong>Amount Needed</strong>
                                        </div>
                                        <div class="col-sm-2">
                                            <strong>Measurement</strong>
                                        </div>
                                        <div class="col-sm-3 col-sm-offset-2">
                                            <strong>Notes</strong>
                                        </div>
                                    </div>
                                </div>

                                <!-- ko foreach: fuels -->
                                <div class="form-group border-left border-green calculate-fuel-row" data-fuel-capacity="8000">
                                    <div class="col-sm-2 control-label">
                                        <label data-bind="text: type">Diesel Fuel</label>
                                        @*<p><small>Capacity <strong>8,000</strong> pounds</small></p>*@
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="btn-group btn-group-sm status-btns two-btns">
                                            <button type="button" class="btn btn-success" data-bind="css: { 'selected': status() == 'Adequate'}, click: $root.toggleResourceStatus.bind($data,'Adequate'), uniqueName: true">Adequate</button>
                                            <button type="button" class="btn btn-danger" data-bind="css: { 'selected': status() == 'Short'}, click: $root.toggleResourceStatus.bind($data,'Short'), uniqueName: true">Short</button>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label for="input-diesel-fuel-amount-short" class="visible-xs col-xs-3 control-label">Amount Short</label>
                                            <div class="col-sm-12 col-xs-9">
                                                <input type="number" class="form-control amount-short" data-bind="value: amountShort">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label for="input-diesel-fuel-unit" class="visible-xs col-xs-3 control-label">Measurement</label>
                                            <div class="col-sm-12 col-xs-9">
                                                <select class="bs-select" data-width="100px" data-bind="value: measurement">
                                                    <option>Gallons</option>
                                                    <option>Pounds</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <textarea class="form-control grow" rows="1" placeholder="Notes" data-bind="value: notes"></textarea>
                                    </div>
                                </div>
                                <!-- /ko -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Fuel Status -->
            <!-- BEGIN Form Submit Buttons -->
            <div class="col-xs-12">
                <div class="content-footer clearfix">
                    <div class="well well-sm right">
                        <a href="@Url.Action("Index")" class="btn btn-default btn-xl"><i class="fa fa-refresh"></i> Reset</a>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-share-square-o"></i> Send Update</button>
                    </div>
                </div>
            </div>
            <!-- END Form Submit Buttons -->

        </div>
    </form>

</div>

    <script type="text/javascript">
        @{
            var sModel = Newtonsoft.Json.JsonConvert.SerializeObject(Model);
        }
        var initialData = @Html.Raw(sModel);
        var updateUrl = '@Url.Action("Update", "StatusUpdate")';
    </script>
<!--#include virtual="/includes/teasers/new-general-request-modal.shtml" -->
        @Html.Partial("_NewGeneralRequest")
   
<!--#include virtual="includes/bottom.shtml" -->
