@{
    Layout = "~/Views/Shared/_Layout.cshtml"; //Must be relative (refers to main apps layout)
}
<div>This is the Apple layout</div>
@RenderBody()
@section scripts {
     @Scripts.Render("~/bundles/js/modules/Apple")
}
@section styles {
    @Styles.Render("~/bundles/css/modules/Apple")
}


