<!-- NIMS Compliance Assessment Form -->

  <div class="content-header">
        <div class="pull-right right">
            <div class="btn-group">
                <button type="button" class="btn btn-primary">Response Forms</button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li class="active"><a href="@Url.Action("FormCompliance", "FormResponse")">NIMS Compliance Assessment</a></li>
                    <li><a href="@Url.Action("Index", "FormResponse")">Hurricane Isaac ED Form</a></li>
                    <li><a href="@Url.Action("FormHeat", "FormResponse")">Heat Related Illness</a></li> 
                </ul>
            </div>
        </div>
        <h1><i class="fa fa-clipboard"></i>Form Response</h1>
    </div>

<h3>NIMS Compliance Assessment Form</h3>
<p>Please note specific implmentation actions to achieve compliance in the field provided next to each item if applicable.</p>

<hr>

<form class="form-horizontal form-groups-border-bottom" action="#">

    <div class="form-group">
        <label for="" class="col-sm-3">Adoption of NIMS *</label>
        <div class="col-sm-3">
            <select class="bs-select" data-width="100%">
                <option value="Yes" selected>Yes</option>
                <option value="No">No</option>
            </select>
        </div>
        <div class="col-sm-6">
            <textarea class="form-control grow" rows="1" id="" placeholder="Specific Implementation Actions"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-sm-3">Federal Preparedness awards support NIMS Implementation *</label>
        <div class="col-sm-3">
            <select class="bs-select" data-width="100%">
                <option value="Yes" selected>Yes</option>
                <option value="No">No</option>
            </select>
        </div>
        <div class="col-sm-6">
            <textarea class="form-control grow" rows="1" id="" placeholder="Specific Implementation Actions"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-sm-3">Revise and Update Plans to incorporate NIMS and NRF components *</label>
        <div class="col-sm-3">
            <select class="bs-select" data-width="100%">
                <option value="Yes" selected>Yes</option>
                <option value="No">No</option>
            </select>
        </div>
        <div class="col-sm-6">
            <textarea class="form-control grow" rows="1" id="" placeholder="Specific Implementation Actions"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-sm-3">Mutual-Aid Agreements *</label>
        <div class="col-sm-3">
            <select class="bs-select" data-width="100%">
                <option value="Yes" selected>Yes</option>
                <option value="No">No</option>
            </select>
        </div>
        <div class="col-sm-6">
            <textarea class="form-control grow" rows="1" id="" placeholder="Specific Implementation Actions"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-sm-3">IS 100, 200 and 700 *</label>
        <div class="col-sm-3">
            <select class="bs-select" data-width="100%">
                <option value="Yes" selected>Yes</option>
                <option value="No">No</option>
            </select>
        </div>
        <div class="col-sm-6">
            <textarea class="form-control grow" rows="1" id="" placeholder="Specific Implementation Actions"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-sm-3">IS 800 *</label>
        <div class="col-sm-3">
            <select class="bs-select" data-width="100%">
                <option value="Yes" selected>Yes</option>
                <option value="No">No</option>
            </select>
        </div>
        <div class="col-sm-6">
            <textarea class="form-control grow" rows="1" id="" placeholder="Specific Implementation Actions"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-sm-3">Apply NIMS and ICS to all training and exercises *</label>
        <div class="col-sm-3">
            <select class="bs-select" data-width="100%">
                <option value="Yes" selected>Yes</option>
                <option value="No">No</option>
            </select>
        </div>
        <div class="col-sm-6">
            <textarea class="form-control grow" rows="1" id="" placeholder="Specific Implementation Actions"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-sm-3">Equipment, Communication and data interoperability *</label>
        <div class="col-sm-3">
            <select class="bs-select" data-width="100%">
                <option value="Yes" selected>Yes</option>
                <option value="No">No</option>
            </select>
        </div>
        <div class="col-sm-6">
            <textarea class="form-control grow" rows="1" id="" placeholder="Specific Implementation Actions"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-sm-3">Common and consistent terminology *</label>
        <div class="col-sm-3">
            <select class="bs-select" data-width="100%">
                <option value="Yes" selected>Yes</option>
                <option value="No">No</option>
            </select>
        </div>
        <div class="col-sm-6">
            <textarea class="form-control grow" rows="1" id="" placeholder="Specific Implementation Actions"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-sm-3">Systems, tools and processes for consistent and accurate information *</label>
        <div class="col-sm-3">
            <select class="bs-select" data-width="100%">
                <option value="Yes" selected>Yes</option>
                <option value="No">No</option>
            </select>
        </div>
        <div class="col-sm-6">
            <textarea class="form-control grow" rows="1" id="" placeholder="Specific Implementation Actions"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-sm-3">Manage events with ICS &amp; NIMS *</label>
        <div class="col-sm-3">
            <select class="bs-select" data-width="100%">
                <option value="Yes" selected>Yes</option>
                <option value="No">No</option>
            </select>
        </div>
        <div class="col-sm-6">
            <textarea class="form-control grow" rows="1" id="" placeholder="Specific Implementation Actions"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-sm-3">Use of Incident Action Planning and common communications plans *</label>
        <div class="col-sm-3">
            <select class="bs-select" data-width="100%">
                <option value="Yes" selected>Yes</option>
                <option value="No">No</option>
            </select>
        </div>
        <div class="col-sm-6">
            <textarea class="form-control grow" rows="1" id="" placeholder="Specific Implementation Actions"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-sm-3">Adopt Public Information (PI) principles by using both JIS and JIC during events *</label>
        <div class="col-sm-3">
            <select class="bs-select" data-width="100%">
                <option value="Yes" selected>Yes</option>
                <option value="No">No</option>
            </select>
        </div>
        <div class="col-sm-6">
            <textarea class="form-control grow" rows="1" id="" placeholder="Specific Implementation Actions"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-sm-3">PI procedures must gather, verify, coordinate and disseminate information *</label>
        <div class="col-sm-3">
            <select class="bs-select" data-width="100%">
                <option value="Yes" selected>Yes</option>
                <option value="No">No</option>
            </select>
        </div>
        <div class="col-sm-6">
            <textarea class="form-control grow" rows="1" id="" placeholder="Specific Implementation Actions"></textarea>
        </div>
    </div>

    <div class="well well-sm right">
        <a href="#" class="btn btn-default btn-xl"><i class="fa fa-refresh"></i> Reset</a>
        <a href="#" class="btn btn-primary btn-xl"><i class="fa fa-floppy-o"></i> Save</a>
    </div>

</form>

<hr>

<!-- NIMS Compliance Assessment Form Submissions -->
<h3>Form Submissions</h3>
<div class="table-scroll">
    <table class="table table-striped table-hover td-w125px">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Adoption of NIMS</th>
                <th>Federal Preparedness awards support NIMS Implementation</th>
                <th>Revise and Update Plans to incorporate NIMS and NRF components</th>
                <th>Mutual-Aid Agreements</th>
                <th>IS 100, 200 and 700</th>
                <th>IS 800</th>
                <th>Apply NIMS and ICS to all training and exercises</th>
                <th>Equipment, Communication and data interoperability</th>
                <th>Common and consistent terminology</th>
                <th>Systems, tools and processes for consistent and accurate information</th>
                <th>Manage events with ICS &amp; NIMS</th>
                <th>Use of Incident Action Planning and common communications plans</th>
                <th>Adopt Public Information (PI) principles by using both JIS and JIC during events</th>
                <th>PI procedures must gather, verify, coordinate and disseminate information</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>05/25/2014 20:23</td>
                <td class="show-tooltip"><div class="label label-success label-large block">Yes</div></td>
                <td class="show-tooltip"><div class="label label-danger label-large block">No</div></td>
                <td class="show-tooltip" data-original-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit."><div class="label label-success label-large block">Yes <i class="fa fa-comment"></i></div></td>
                <td class="show-tooltip" data-original-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit."><div class="label label-success label-large block">Yes <i class="fa fa-comment"></i></div></td>
                <td class="show-tooltip"><div class="label label-danger label-large block">No</div></td>
                <td class="show-tooltip" data-original-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit."><div class="label label-danger label-large block">No <i class="fa fa-comment"></i></div></td>
                <td class="show-tooltip" data-original-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit."><div class="label label-danger label-large block">No <i class="fa fa-comment"></i></div></td>
                <td class="show-tooltip" data-original-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit."><div class="label label-success label-large block">Yes <i class="fa fa-comment"></i></div></td>
                <td class="show-tooltip"><div class="label label-success label-large block">Yes</div></td>
                <td class="show-tooltip" data-original-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit."><div class="label label-success label-large block">Yes <i class="fa fa-comment"></i></div></td>
                <td class="show-tooltip" data-original-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit."><div class="label label-danger label-large block">No <i class="fa fa-comment"></i></div></td>
                <td class="show-tooltip"><div class="label label-success label-large block">Yes</div></td>
                <td class="show-tooltip"><div class="label label-danger label-large block">No</div></td>
                <td class="show-tooltip"><div class="label label-success label-large block">Yes</div></td>
            </tr>
            <tr>
                <td>05/25/2014 20:23</td>
                <td class="show-tooltip"><div class="label label-success label-large block">Yes</div></td>
                <td class="show-tooltip"><div class="label label-danger label-large block">No</div></td>
                <td class="show-tooltip" data-original-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit."><div class="label label-success label-large block">Yes <i class="fa fa-comment"></i></div></td>
                <td class="show-tooltip" data-original-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit."><div class="label label-success label-large block">Yes <i class="fa fa-comment"></i></div></td>
                <td class="show-tooltip"><div class="label label-danger label-large block">No</div></td>
                <td class="show-tooltip" data-original-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit."><div class="label label-danger label-large block">No <i class="fa fa-comment"></i></div></td>
                <td class="show-tooltip" data-original-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit."><div class="label label-danger label-large block">No <i class="fa fa-comment"></i></div></td>
                <td class="show-tooltip" data-original-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit."><div class="label label-success label-large block">Yes <i class="fa fa-comment"></i></div></td>
                <td class="show-tooltip"><div class="label label-success label-large block">Yes</div></td>
                <td class="show-tooltip" data-original-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit."><div class="label label-success label-large block">Yes <i class="fa fa-comment"></i></div></td>
                <td class="show-tooltip" data-original-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit."><div class="label label-danger label-large block">No <i class="fa fa-comment"></i></div></td>
                <td class="show-tooltip"><div class="label label-success label-large block">Yes</div></td>
                <td class="show-tooltip"><div class="label label-danger label-large block">No</div></td>
                <td class="show-tooltip"><div class="label label-success label-large block">Yes</div></td>
            </tr>
            <tr>
                <td>05/25/2014 20:23</td>
                <td class="show-tooltip"><div class="label label-success label-large block">Yes</div></td>
                <td class="show-tooltip"><div class="label label-danger label-large block">No</div></td>
                <td class="show-tooltip" data-original-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit."><div class="label label-success label-large block">Yes <i class="fa fa-comment"></i></div></td>
                <td class="show-tooltip" data-original-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit."><div class="label label-success label-large block">Yes <i class="fa fa-comment"></i></div></td>
                <td class="show-tooltip"><div class="label label-danger label-large block">No</div></td>
                <td class="show-tooltip" data-original-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit."><div class="label label-danger label-large block">No <i class="fa fa-comment"></i></div></td>
                <td class="show-tooltip" data-original-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit."><div class="label label-danger label-large block">No <i class="fa fa-comment"></i></div></td>
                <td class="show-tooltip" data-original-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit."><div class="label label-success label-large block">Yes <i class="fa fa-comment"></i></div></td>
                <td class="show-tooltip"><div class="label label-success label-large block">Yes</div></td>
                <td class="show-tooltip" data-original-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit."><div class="label label-success label-large block">Yes <i class="fa fa-comment"></i></div></td>
                <td class="show-tooltip" data-original-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit."><div class="label label-danger label-large block">No <i class="fa fa-comment"></i></div></td>
                <td class="show-tooltip"><div class="label label-success label-large block">Yes</div></td>
                <td class="show-tooltip"><div class="label label-danger label-large block">No</div></td>
                <td class="show-tooltip"><div class="label label-success label-large block">Yes</div></td>
            </tr>
            <tr>
                <td>05/25/2014 20:23</td>
                <td class="show-tooltip"><div class="label label-success label-large block">Yes</div></td>
                <td class="show-tooltip"><div class="label label-danger label-large block">No</div></td>
                <td class="show-tooltip" data-original-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit."><div class="label label-success label-large block">Yes <i class="fa fa-comment"></i></div></td>
                <td class="show-tooltip" data-original-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit."><div class="label label-success label-large block">Yes <i class="fa fa-comment"></i></div></td>
                <td class="show-tooltip"><div class="label label-danger label-large block">No</div></td>
                <td class="show-tooltip" data-original-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit."><div class="label label-danger label-large block">No <i class="fa fa-comment"></i></div></td>
                <td class="show-tooltip" data-original-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit."><div class="label label-danger label-large block">No <i class="fa fa-comment"></i></div></td>
                <td class="show-tooltip" data-original-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit."><div class="label label-success label-large block">Yes <i class="fa fa-comment"></i></div></td>
                <td class="show-tooltip"><div class="label label-success label-large block">Yes</div></td>
                <td class="show-tooltip" data-original-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit."><div class="label label-success label-large block">Yes <i class="fa fa-comment"></i></div></td>
                <td class="show-tooltip" data-original-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit."><div class="label label-danger label-large block">No <i class="fa fa-comment"></i></div></td>
                <td class="show-tooltip"><div class="label label-success label-large block">Yes</div></td>
                <td class="show-tooltip"><div class="label label-danger label-large block">No</div></td>
                <td class="show-tooltip"><div class="label label-success label-large block">Yes</div></td>
            </tr>
            <tr>
                <td>05/25/2014 20:23</td>
                <td class="show-tooltip"><div class="label label-success label-large block">Yes</div></td>
                <td class="show-tooltip"><div class="label label-danger label-large block">No</div></td>
                <td class="show-tooltip" data-original-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit."><div class="label label-success label-large block">Yes <i class="fa fa-comment"></i></div></td>
                <td class="show-tooltip" data-original-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit."><div class="label label-success label-large block">Yes <i class="fa fa-comment"></i></div></td>
                <td class="show-tooltip"><div class="label label-danger label-large block">No</div></td>
                <td class="show-tooltip" data-original-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit."><div class="label label-danger label-large block">No <i class="fa fa-comment"></i></div></td>
                <td class="show-tooltip" data-original-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit."><div class="label label-danger label-large block">No <i class="fa fa-comment"></i></div></td>
                <td class="show-tooltip" data-original-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit."><div class="label label-success label-large block">Yes <i class="fa fa-comment"></i></div></td>
                <td class="show-tooltip"><div class="label label-success label-large block">Yes</div></td>
                <td class="show-tooltip" data-original-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit."><div class="label label-success label-large block">Yes <i class="fa fa-comment"></i></div></td>
                <td class="show-tooltip" data-original-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit."><div class="label label-danger label-large block">No <i class="fa fa-comment"></i></div></td>
                <td class="show-tooltip"><div class="label label-success label-large block">Yes</div></td>
                <td class="show-tooltip"><div class="label label-danger label-large block">No</div></td>
                <td class="show-tooltip"><div class="label label-success label-large block">Yes</div></td>
            </tr>
        </tbody>
    </table>
</div>