<!--#include virtual="includes/top.shtml" -->
<div class="status-update">

    <div class="content-header">
        <div class="pull-right">
            <a href="#" class="btn btn-primary btn-xl"><i class="fa fa-share-square-o"></i>Send Update</a>
        </div>
        <h1><i class="fa fa-bullhorn"></i>Update</h1>
    </div>


    <form action="#" class="form-horizontal">

        <div class="row">
            <!-- BEGIN Facility Status -->
            <div class="col-xs-12">
                <div class="box facility-report-box">
                    <div class="box-title">
                        <h3><i class="fa fa-plus-square"></i>Facility Status</h3>
                        <div class="box-tool">
                            <a data-action="collapse" href="#" title="Collapse"><i class="fa fa-chevron-up"></i></a>
                            <a data-action="close" href="#" title="Close"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <div class="row">
                            <div class="col-md-12">

                                <!-- Facility Status -->
                                <div id="input-facility-status" class="form-group system-status-row border-left border-green">
                                    <div class="col-sm-2 control-label">
                                        <strong>Memorial Hospital</strong>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" id="facility-status-on-generator" value="option1">
                                            On Generator
                                        </label>
                                    </div>
                                    <div class="col-sm-4 col-xs-6">
                                        <label for="">General Status</label>
                                        <div class="btn-group btn-group-sm status-btns two-btns">
                                            <button type="button" class="btn btn-success selected">Open</button>
                                            <button type="button" class="btn btn-danger">Closed</button>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="form-group">
                                            <label for="projectedIBA">Projected IBA</label>
                                            <input type="number" class="form-control" id="projectedIBA">
                                            <p class="help-block">Projected Immediate Bed Availability</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="input-facility-status-notes">Notes</label>
                                        <textarea class="form-control grow" rows="1" id="input-facility-status-notes" placeholder="Notes"></textarea>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Facility Status -->


            <!-- BEGIN Bed Status -->
            <div class="col-xs-12">
                <div class="box bed-report-box">
                    <div class="box-title">
                        <h3><i class="fa fa-hospital-o"></i>Beds</h3>
                        <div class="box-tool">
                            <a href="#" data-toggle="modal" data-target="#newGeneralRequest"><i class="fa fa-plus"></i>Request Help</a>
                            <a data-action="collapse" href="#" title="Collapse"><i class="fa fa-chevron-up"></i></a>
                            <a data-action="close" href="#" title="Close"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <div class="row">
                            <div class="col-md-12">

                                <!-- Legend -->
                                <div class="box-legend hidden-xs">
                                    <div class="row">
                                        <div class="col-xs-2">
                                            Bed Type
                                        </div>
                                        <div class="col-xs-2">
                                            <strong>Current Capacity</strong>
                                        </div>
                                        <div class="col-xs-2">
                                            <strong>Beds in Use</strong>
                                        </div>
                                        <div class="col-xs-3 col-xs-offset-3">
                                            <strong>Notes</strong>
                                        </div>
                                    </div>
                                </div>

                                <!-- Emergency Department -->
                                <div id="input-emergency-department" class="form-group border-left border-green calculate-beds-row">
                                    <div class="col-sm-2 control-label">
                                        <label>Emergency Department</label>
                                        <p><small>Standard Capacity <strong>50</strong></small></p>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label for="input-emergency-department-current-capacity" class="visible-xs col-xs-3 control-label">Current Capacity</label>
                                            <div class="col-sm-12 col-xs-9">
                                                <input type="number" class="form-control current-capacity" id="input-emergency-department-current-capacity" value="50">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label for="input-emergency-department-in-use" class="visible-xs col-xs-3 control-label">Beds in Use</label>
                                            <div class="col-sm-12 col-xs-9">
                                                <input type="number" class="form-control beds-in-use" id="input-emergency-department-in-use" value="0">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <p class="display-emergency-department-available"><i class="fa fa-square green"></i><span class="number-available">50</span> Available</p>
                                    </div>
                                    <div class="col-sm-3 col-sm-offset-1">
                                        <textarea class="form-control grow" rows="1" id="input-emergency-department-notes" placeholder="Notes"></textarea>
                                    </div>
                                </div>

                                <!-- Respiratory Isolation -->
                                <div id="input-respiratory-isolation" class="form-group border-left border-green calculate-beds-row">
                                    <div class="col-sm-2 control-label">
                                        <label>Respiratory Isolation</label>
                                        <p><small>Standard Capacity <strong>21</strong></small></p>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label for="input-respiratory-isolation-current-capacity" class="visible-xs col-xs-3 control-label">Current Capacity</label>
                                            <div class="col-sm-12 col-xs-9">
                                                <input type="number" class="form-control current-capacity" id="input-respiratory-isolation-current-capacity" value="21">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label for="input-respiratory-isolation-in-use" class="visible-xs col-xs-3 control-label">Beds in Use</label>
                                            <div class="col-sm-12 col-xs-9">
                                                <input type="number" class="form-control beds-in-use" id="input-respiratory-isolation-in-use" value="19">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <p class="display-respiratory-isolation-available"><i class="fa fa-square green"></i><span class="number-available">21</span> Available</p>
                                    </div>
                                    <div class="col-sm-3 col-sm-offset-1">
                                        <textarea class="form-control grow" rows="1" id="input-respiratory-isolation-notes" placeholder="Notes"></textarea>
                                    </div>
                                </div>

                                <!-- Inpatient Trauma -->
                                <div id="input-inpatient-trauma" class="form-group border-left border-green calculate-beds-row">
                                    <div class="col-sm-2 control-label">
                                        <label>Inpatient Trauma</label>
                                        <p><small>Standard Capacity <strong>42</strong></small></p>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label for="input-inpatient-trauma-current-capacity" class="visible-xs col-xs-3 control-label">Current Capacity</label>
                                            <div class="col-sm-12 col-xs-9">
                                                <input type="number" class="form-control current-capacity" id="input-inpatient-trauma-current-capacity" value="42">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label for="input-inpatient-trauma-in-use" class="visible-xs col-xs-3 control-label">Beds in Use</label>
                                            <div class="col-sm-12 col-xs-9">
                                                <input type="number" class="form-control beds-in-use" id="input-inpatient-trauma-in-use" value="42">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <p class="display-inpatient-trauma-available"><i class="fa fa-square green"></i><span class="number-available">42</span> Available</p>
                                    </div>
                                    <div class="col-sm-3 col-sm-offset-1">
                                        <textarea class="form-control grow" rows="1" id="input-inpatient-trauma-notes" placeholder="Notes"></textarea>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Bed Status -->


            <!-- BEGIN Staff Status -->
            <div class="col-xs-12">
                <div class="box staff-report-box">
                    <div class="box-title">
                        <h3><i class="fa fa-group"></i>Staff</h3>
                        <div class="box-tool">
                            <a href="#" data-toggle="modal" data-target="#newGeneralRequest"><i class="fa fa-plus"></i>Request Help</a>
                            <a data-action="collapse" href="#" title="Collapse"><i class="fa fa-chevron-up"></i></a>
                            <a data-action="close" href="#" title="Close"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <div class="row">
                            <div class="col-md-12">

                                <!-- Legend -->
                                <div class="box-legend hidden-xs">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            Staff Type
                                        </div>
                                        <div class="col-sm-3">
                                            <strong>Staffing</strong>
                                        </div>
                                        <div class="col-sm-2">
                                            <strong>Amount Short</strong>
                                        </div>
                                        <div class="col-sm-3 col-sm-offset-2">
                                            <strong>Notes</strong>
                                        </div>
                                    </div>
                                </div>

                                <!-- Physicians -->
                                <div id="input-physicians" class="form-group border-left border-green calculate-fuel-row" data-fuel-capacity="3700">
                                    <div class="col-sm-2 control-label">
                                        <label>Physicians</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="btn-group btn-group-sm status-btns two-btns">
                                            <button type="button" class="btn btn-success selected">Staffed</button>
                                            <button type="button" class="btn btn-danger">Short</button>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label for="input-physicians-amount-short" class="visible-xs col-xs-3 control-label">Amount Short</label>
                                            <div class="col-sm-12 col-xs-9">
                                                <input type="number" class="form-control amount-short" id="input-physicians-amount-short" value="0">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-sm-offset-2">
                                        <textarea class="form-control grow" rows="1" id="input-physicians-notes" placeholder="Notes"></textarea>
                                    </div>
                                </div>

                                <!-- Nurses -->
                                <div id="input-nurses" class="form-group border-left border-green calculate-fuel-row" data-fuel-capacity="3700">
                                    <div class="col-sm-2 control-label">
                                        <label>Nurses</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="btn-group btn-group-sm status-btns two-btns">
                                            <button type="button" class="btn btn-success selected">Staffed</button>
                                            <button type="button" class="btn btn-danger">Short</button>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label for="input-nurses-amount-short" class="visible-xs col-xs-3 control-label">Amount Short</label>
                                            <div class="col-sm-12 col-xs-9">
                                                <input type="number" class="form-control amount-short" id="input-nurses-amount-short" value="0">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-sm-offset-2">
                                        <textarea class="form-control grow" rows="1" id="input-nurses-notes" placeholder="Notes"></textarea>
                                    </div>
                                </div>

                                <!-- Nursing Assistants -->
                                <div id="input-nursing-assistants" class="form-group border-left border-green calculate-fuel-row" data-fuel-capacity="3700">
                                    <div class="col-sm-2 control-label">
                                        <label>Nursing Assistants</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="btn-group btn-group-sm status-btns two-btns">
                                            <button type="button" class="btn btn-success selected">Staffed</button>
                                            <button type="button" class="btn btn-danger">Short</button>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label for="input-nursing-assistants-amount-short" class="visible-xs col-xs-3 control-label">Amount Short</label>
                                            <div class="col-sm-12 col-xs-9">
                                                <input type="number" class="form-control amount-short" id="input-nursing-assistants-amount-short" value="0">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-sm-offset-2">
                                        <textarea class="form-control grow" rows="1" id="input-nursing-assistants-notes" placeholder="Notes"></textarea>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Staff Status -->


            <!-- BEGIN Systems Status -->
            <div class="col-xs-12">
                <div class="box systems-report-box">
                    <div class="box-title">
                        <h3><i class="fa fa-tachometer"></i>Systems</h3>
                        <div class="box-tool">
                            <a href="#" data-toggle="modal" data-target="#newGeneralRequest"><i class="fa fa-plus"></i>Request Help</a>
                            <a data-action="collapse" href="#" title="Collapse"><i class="fa fa-chevron-up"></i></a>
                            <a data-action="close" href="#" title="Close"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <div class="row">
                            <div class="col-md-12">

                                <!-- Legend -->
                                <div class="box-legend">
                                    <div class="row">
                                        <div class="col-xs-2">
                                            Utility Type
                                        </div>
                                        <div class="col-xs-7">
                                            <strong>Status</strong>
                                        </div>
                                        <div class="col-xs-3">
                                            <strong>Notes</strong>
                                        </div>
                                    </div>
                                </div>

                                <!-- Elevators -->
                                <div id="input-elevators" class="form-group system-status-row border-left border-green">
                                    <div class="col-sm-2 control-label">
                                        <label>Elevators</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="btn-group btn-group-sm status-btns three-btns">
                                            <button type="button" class="btn btn-success selected">Operational</button>
                                            <button type="button" class="btn btn-warning">Partial</button>
                                            <button type="button" class="btn btn-danger">Non Operational</button>
                                        </div>
                                        <!-- Important to make sure the hidden inputs are outside the status-btns container or it messes with the styles -->
                                        <input type="hidden" id="utility-elevators-status" value="Operational">
                                    </div>
                                    <div class="col-sm-3">
                                        <textarea class="form-control grow" rows="1" id="elevators-notes" placeholder="Notes"></textarea>
                                    </div>
                                </div>

                                <!-- Internet -->
                                <div id="input-internet" class="form-group system-status-row border-left border-green">
                                    <div class="col-sm-2 control-label">
                                        <label>Internet</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="btn-group btn-group-sm status-btns three-btns">
                                            <button type="button" class="btn btn-success">Operational</button>
                                            <button type="button" class="btn btn-warning selected">Partial</button>
                                            <button type="button" class="btn btn-danger">Non Operational</button>
                                        </div>
                                        <input type="hidden" id="utility-internet-status" value="Operational">
                                    </div>
                                    <div class="col-sm-3">
                                        <textarea class="form-control grow" rows="1" id="internet-notes" placeholder="Notes"></textarea>
                                    </div>
                                </div>

                                <!-- Vacuum -->
                                <div id="input-vacuum" class="form-group system-status-row border-left border-green">
                                    <div class="col-sm-2 control-label">
                                        <label>Vacuum</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="btn-group btn-group-sm status-btns three-btns">
                                            <button type="button" class="btn btn-success">Operational</button>
                                            <button type="button" class="btn btn-warning selected">Partial</button>
                                            <button type="button" class="btn btn-danger">Non Operational</button>
                                        </div>
                                        <input type="hidden" id="utility-vacuum-status" value="Operational">
                                    </div>
                                    <div class="col-sm-3">
                                        <textarea class="form-control grow" rows="1" id="vacuum-notes" placeholder="Notes"></textarea>
                                    </div>
                                </div>

                                <!-- Telephone -->
                                <div id="input-telephone" class="form-group system-status-row border-left border-green">
                                    <div class="col-sm-2 control-label">
                                        <label>Telephone</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="btn-group btn-group-sm status-btns three-btns">
                                            <button type="button" class="btn btn-success">Operational</button>
                                            <button type="button" class="btn btn-warning">Partial</button>
                                            <button type="button" class="btn btn-danger selected">Non Operational</button>
                                        </div>
                                        <input type="hidden" id="utility-telephone-status" value="Operational">
                                    </div>
                                    <div class="col-sm-3">
                                        <textarea class="form-control grow" rows="1" id="telephone-notes" placeholder="Notes"></textarea>
                                    </div>
                                </div>

                                <!-- Sewer -->
                                <div id="input-sewer" class="form-group system-status-row border-left border-green">
                                    <div class="col-sm-2 control-label">
                                        <label>Sewer</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="btn-group btn-group-sm status-btns three-btns">
                                            <button type="button" class="btn btn-success selected">Operational</button>
                                            <button type="button" class="btn btn-warning">Partial</button>
                                            <button type="button" class="btn btn-danger">Non Operational</button>
                                        </div>
                                        <input type="hidden" id="utility-sewer-status" value="Operational">
                                    </div>
                                    <div class="col-sm-3">
                                        <textarea class="form-control grow" rows="1" id="sewer-notes" placeholder="Notes"></textarea>
                                    </div>
                                </div>

                                <!-- Potable Water -->
                                <div id="input-potable-water" class="form-group system-status-row border-left border-green">
                                    <div class="col-sm-2 control-label">
                                        <label>Potable Water</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="btn-group btn-group-sm status-btns three-btns">
                                            <button type="button" class="btn btn-success selected">Operational</button>
                                            <button type="button" class="btn btn-warning">Partial</button>
                                            <button type="button" class="btn btn-danger">Non Operational</button>
                                        </div>
                                        <input type="hidden" id="utility-potable-water-status" value="Operational">
                                    </div>
                                    <div class="col-sm-3">
                                        <textarea class="form-control grow" rows="1" id="potable-water-notes" placeholder="Notes"></textarea>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Systems Status -->


            <!-- BEGIN Fuel Status -->
            <div class="col-xs-12">
                <div class="box fuel-report-box">
                    <div class="box-title">
                        <h3><i class="fa fa-tint"></i>Fuel</h3>
                        <div class="box-tool">
                            <a href="#" data-toggle="modal" data-target="#newGeneralRequest"><i class="fa fa-plus"></i>Request Fuel</a>
                            <a data-action="collapse" href="#" title="Collapse"><i class="fa fa-chevron-up"></i></a>
                            <a data-action="close" href="#" title="Close"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <div class="row">
                            <div class="col-md-12">

                                <!-- Legend -->
                                <div class="box-legend hidden-xs">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            Fuel Type
                                        </div>
                                        <div class="col-sm-3">
                                            <strong>Status</strong>
                                        </div>
                                        <div class="col-sm-2">
                                            <strong>Amount Needed</strong>
                                        </div>
                                        <div class="col-sm-2">
                                            <strong>Measurement</strong>
                                        </div>
                                        <div class="col-sm-3 col-sm-offset-2">
                                            <strong>Notes</strong>
                                        </div>
                                    </div>
                                </div>

                                <!-- Diesel Fuel -->
                                <div id="input-diesel-fuel" class="form-group border-left border-green calculate-fuel-row" data-fuel-capacity="8000">
                                    <div class="col-sm-2 control-label">
                                        <label>Diesel Fuel</label>
                                        <p><small>Capacity <strong>8,000</strong> pounds</small></p>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="btn-group btn-group-sm status-btns two-btns">
                                            <button type="button" class="btn btn-success selected">Adequate</button>
                                            <button type="button" class="btn btn-danger">Short</button>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label for="input-diesel-fuel-amount-short" class="visible-xs col-xs-3 control-label">Amount Short</label>
                                            <div class="col-sm-12 col-xs-9">
                                                <input type="number" class="form-control amount-short" id="input-diesel-fuel-amount-short" value="0">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label for="input-diesel-fuel-unit" class="visible-xs col-xs-3 control-label">Measurement</label>
                                            <div class="col-sm-12 col-xs-9">
                                                <select class="bs-select" data-width="100px" id="input-diesel-fuel-unit">
                                                    <option value="gallons">Gallons</option>
                                                    <option value="pounds" selected>Pounds</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <textarea class="form-control grow" rows="1" id="input-diesel-fuel-notes" placeholder="Notes"></textarea>
                                    </div>
                                </div>

                                <!-- Gasoline -->
                                <div id="input-gasoline" class="form-group border-left border-green calculate-fuel-row" data-fuel-capacity="3700">
                                    <div class="col-sm-2 control-label">
                                        <label>Gasoline</label>
                                        <p><small>Capacity <strong>3,700</strong> gallons</small></p>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="btn-group btn-group-sm status-btns two-btns">
                                            <button type="button" class="btn btn-success selected">Adequate</button>
                                            <button type="button" class="btn btn-danger">Short</button>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label for="input-gasoline-amount-short" class="visible-xs col-xs-3 control-label">Amount Short</label>
                                            <div class="col-sm-12 col-xs-9">
                                                <input type="number" class="form-control amount-short" id="input-gasoline-amount-short" value="0">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label for="input-gasoline-unit" class="visible-xs col-xs-3 control-label">Measurement</label>
                                            <div class="col-sm-12 col-xs-9">
                                                <select class="bs-select" data-width="100px" id="input-gasoline-unit">
                                                    <option value="gallons">Gallons</option>
                                                    <option value="pounds" selected>Pounds</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <textarea class="form-control grow" rows="1" id="input-gasoline-notes" placeholder="Notes"></textarea>
                                    </div>
                                </div>

                                <!-- Propane -->
                                <div id="input-propane" class="form-group border-left border-green calculate-fuel-row" data-fuel-capacity="2000">
                                    <div class="col-sm-2 control-label">
                                        <label>Propane</label>
                                        <p><small>Capacity <strong>2,000</strong> gallons</small></p>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="btn-group btn-group-sm status-btns two-btns">
                                            <button type="button" class="btn btn-success selected">Adequate</button>
                                            <button type="button" class="btn btn-danger">Short</button>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label for="input-propane-amount-short" class="visible-xs col-xs-3 control-label">Amount Short</label>
                                            <div class="col-sm-12 col-xs-9">
                                                <input type="number" class="form-control amount-short" id="input-propane-amount-short" value="0">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label for="input-propane-unit" class="visible-xs col-xs-3 control-label">Measurement</label>
                                            <div class="col-sm-12 col-xs-9">
                                                <select class="bs-select" data-width="100px" id="input-propane-unit">
                                                    <option value="gallons">Gallons</option>
                                                    <option value="pounds" selected>Pounds</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <textarea class="form-control grow" rows="1" id="input-propane-notes" placeholder="Notes"></textarea>
                                    </div>
                                </div>

                                <!-- Natural Gas -->
                                <div id="input-natural-gas" class="form-group border-left border-green calculate-fuel-row" data-fuel-capacity="6000">
                                    <div class="col-sm-2 control-label">
                                        <label>Natural Gas</label>
                                        <p><small>Capacity <strong>6,000</strong> pounds</small></p>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="btn-group btn-group-sm status-btns two-btns">
                                            <button type="button" class="btn btn-success selected">Adequate</button>
                                            <button type="button" class="btn btn-danger">Short</button>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label for="input-natural-gas-amount-short" class="visible-xs col-xs-3 control-label">Amount Short</label>
                                            <div class="col-sm-12 col-xs-9">
                                                <input type="number" class="form-control amount-short" id="input-natural-gas-amount-short" value="0">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label for="input-natural-gas-unit" class="visible-xs col-xs-3 control-label">Measurement</label>
                                            <div class="col-sm-12 col-xs-9">
                                                <select class="bs-select" data-width="100px" id="input-natural-gas-unit">
                                                    <option value="gallons">Gallons</option>
                                                    <option value="pounds" selected>Pounds</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <textarea class="form-control grow" rows="1" id="input-natural-gas-notes" placeholder="Notes"></textarea>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Fuel Status -->


            <!-- BEGIN Form Submit Buttons -->
            <div class="col-xs-12">
                <div class="content-footer clearfix">
                    <div class="well well-sm right">
                        <a href="#" class="btn btn-default btn-xl"><i class="fa fa-refresh"></i>Reset</a>
                        <a href="#" class="btn btn-primary btn-xl"><i class="fa fa-share-square-o"></i>Send Update</a>
                    </div>
                </div>
            </div>
            <!-- END Form Submit Buttons -->

        </div>
    </form>

</div>

<!--#include virtual="/includes/teasers/new-general-request-modal.shtml" -->
        @Html.Partial("_NewGeneralRequest")
   
<!--#include virtual="includes/bottom.shtml" -->
