/* ------------------------------
	AIMS Jeff Styles
------------------------------ */
body, html {
  height: 100%;
  width: 100%;
}


.box-inbox .tabbable .nav-tabs > li.active > a, .tabbable .nav-tabs > li.active > a:hover, .tabbable .nav-tabs > li.active > a:focus  {
    background:#e9f0f9;
}

.box-inbox .tabbable .table {
    background:#fff;
}
.table-advance thead {
    background: none repeat scroll 0 0 #495253;
    border-left: 4px solid #495253;
    color:#fff;
}
.table-advance thead th {
    color:#fff;
}
.box-inbox .tabbable .mail-nav {
    float:none;
}
.dataTable th.text-right {
    padding-right:20px;
}

.label-blue {
    background-color: #006bb7;
}
/* ------------------------------
	Maps Styles
------------------------------ */
#map{
  display: block;
  width: 100%;
  height: 350px;
  margin: 0 auto;
  border: 1px solid #dedede;
}
#map-large #map{
  height:700px;
}

.overlay{
  display:block;
  text-align:center;
  color:#fff;
  font-size:60px;
  line-height:80px;
  opacity:0.8;
  background:#4477aa;
  border:solid 3px #336699;
  border-radius:4px;
  box-shadow:2px 2px 10px #333;
  text-shadow:1px 1px 1px #666;
  padding:0 4px;
}

.overlay_arrow{
  left:50%;
  margin-left:-16px;
  width:0;
  height:0;
  position:absolute;
}
.overlay_arrow.above{
  bottom:-15px;
  border-left:16px solid transparent;
  border-right:16px solid transparent;
  border-top:16px solid #336699;
}
.overlay_arrow.below{
  top:-15px;
  border-left:16px solid transparent;
  border-right:16px solid transparent;
  border-bottom:16px solid #336699;
}


#map-large {
    position:relative;
}

.map-legend {
    position:absolute;
    top:0;
    right:0;
    z-index:99;
    width:250px;
  }
  .map-legend .tab-pane {
    background:#fff;
    padding:10px;
    border:1px solid #666;
    border-top:0;
    
  }
 .map-legend .nav-tabs {
    border-bottom:0;
 }
 .map-legend ul.nav {
    background-color: rgba(0, 0, 0, 0.65);
    margin:0;
    padding-bottom:3px;
    width:100%;
    } 
 .map-legend ul.nav li {
    text-align:center;
 }   
 .map-legend ul.nav li a {
    border:0;
    padding:3px 6px;
    color:#ccc;
    border-radius:0;
    margin:2px 2px 0 2px;
 }
.map-legend .nav-tabs > li > a:hover {
    color:#fff;
}
.map-legend .nav-tabs > li.active > a, .map-legend .nav-tabs > li.active > a:hover, .map-legend .nav-tabs > li.active > a:focus {
    background:none;
    color:#fff;
    border:0;
}
.map-legend ul.legend-list {
    margin:0;
    padding:0;
    list-style:none;
}   
.map-legend ul.legend-list li, .map-legend .form-group {
    border-bottom:1px solid #eee;
    margin:4px 0;
    padding:4px 0;
}
.map-legend .form-group .label { 
    margin-bottom:4px;
    display:inline-block;
}
.map-legend .form-group .checkbox-inline {
    margin-left:0;
}
.box-map .box-content h1 {
    display:none;
}

#map-sidebar .list-group-item {
    cursor: pointer;
    padding: 15px;
    color:#000;
    border-top:0px;
    border-left:0px;
    border-bottom:1px solid #ddd;
    margin-bottom:1px;
}

#map-sidebar .list-group-item:first-child,#map-sidebar .list-group-item:last-child {
    border-radius:0!important;
}
#map-sidebar .list-group-item .telephone {
    float: right;
    font-size:12px;
    margin-top:2px;
}
#map-sidebar .list-group-item h4 {
    margin: 0;
}



#map-sidebar .list-group-item:hover, #map-sidebar .list-group-item:hover h4, #map-sidebar .list-group-item:hover .telephone {
    color: #fff!important;
    background:#006BB7;
}
.map-search {
    margin-top:13px;
}
.map-title {
    float:left;
    margin-right:20px
}
#map .nav > li > a {
    padding: 4px 15px;
}