<!--#include virtual="includes/top.shtml" -->
<div class="activate-aims">

	<div class="content-header">
		<h1><i class="fa fa-power-off"></i> Activate AIMS</h1>
	</div>

	<div class="row">
		<div class="col-md-12">
			<form action="" class="form-horizontal">
				
				<div class="form-group">
					<label for="" class="col-sm-3 control-label">
						Event Description
					</label>
					<div class="col-sm-9">
						<textarea class="form-control" rows="4" maxlength="140"></textarea>
						<p class="help-block">Limit 140 characters.</p>
					</div>
				</div>
				
				<div class="form-group">
					<label for="" class="col-sm-3 control-label">
						Affected Regions
					</label>
					<div class="col-sm-9">
						<label class="checkbox-inline">
							<input type="checkbox" value="Region 1"> Region 1
						</label>
						<label class="checkbox-inline">
							<input type="checkbox" value="Region 2"> Region 2
						</label>
						<label class="checkbox-inline">
							<input type="checkbox" value="Region 3"> Region 3
						</label>
						<label class="checkbox-inline">
							<input type="checkbox" value="Region 4"> Region 4
						</label>
					</div>
				</div>

				<div class="form-group">
					<label for="" class="col-sm-3 control-label">
						Facility Types
					</label>
					<div class="col-sm-9">
						<label class="checkbox-inline"><input type="checkbox" checked value="Hospital"> Hospital</label>
						<label class="checkbox-inline"><input type="checkbox" checked value="Nursing Home"> Nursing Home</label>
						<label class="checkbox-inline"><input type="checkbox" checked value="Medical Needs Shelter"> Medical Needs Shelter</label>
						<label class="checkbox-inline"><input type="checkbox" checked value="Community Health Centers"> Community Health Centers</label>
						<label class="checkbox-inline"><input type="checkbox" checked value="EMS"> EMS</label>
						<label class="checkbox-inline"><input type="checkbox" checked value="Alternate Care Site"> Alternate Care Site</label>
						<label class="checkbox-inline"><input type="checkbox" checked value="Blood Center"> Blood Center</label>
						<label class="checkbox-inline"><input type="checkbox" checked value="Dialysis Center"> Dialysis Center</label>
						<label class="checkbox-inline"><input type="checkbox" checked value="Evacuee Shelter"> Evacuee Shelter</label>
					</div>
				</div>
				
				<div class="form-group">
					<label for="" class="col-sm-3 control-label">
						Notification Method
					</label>
					<div class="col-sm-9">
						<label class="checkbox-inline">
							<input type="checkbox" value="Text Message" checked> Text Message
						</label>
						<label class="checkbox-inline">
							<input type="checkbox" value="Email" checked> Email
						</label>
					</div>
				</div>

				
				<div class="well right">
					<button type="submit" class="btn btn-default"><i class="fa fa-refresh"></i> Reset</button>
					<button type="submit" class="btn btn-primary"><i class="fa fa-share-square-o"></i> Send Activation Notice</button>
				</div>

			</form>
		</div>
	</div>

	<h3>Previous Activations</h3>
	<div class="no-more-tables">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Activation Date</th>
					<th>Description</th>
					<th>Affected Regions</th>
					<th>Facility Types</th>
					<th>Notification Me</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td data-title="Activation Date">05/25/2014 20:23</td>
					<td data-title="Description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, dolores nobis ratione cum earum! Nihil, exercitationem, quasi ducimus nob.</td>
					<td data-title="Affected Regions">Region 1<br>Region 2</td>
					<td data-title="Facility Types">Hospital<br>Nursing Home<br>Medical Needs Shelter</td>
					<td data-title="Notification Me">Text Message<br> Email</td>
				</tr>
				<tr>
					<td data-title="Activation Date">05/25/2014 20:23</td>
					<td data-title="Description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, dolores nobis ratione cum earum! Nihil, exercitationem, quasi ducimus nob.</td>
					<td data-title="Affected Regions">Region 1<br>Region 2</td>
					<td data-title="Facility Types">Hospital<br>Nursing Home<br>Medical Needs Shelter</td>
					<td data-title="Notification Me">Text Message<br> Email</td>
				</tr>
				<tr>
					<td data-title="Activation Date">05/25/2014 20:23</td>
					<td data-title="Description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, dolores nobis ratione cum earum! Nihil, exercitationem, quasi ducimus nob.</td>
					<td data-title="Affected Regions">Region 1<br>Region 2</td>
					<td data-title="Facility Types">Hospital<br>Nursing Home<br>Medical Needs Shelter</td>
					<td data-title="Notification Me">Text Message<br> Email</td>
				</tr>
				<tr>
					<td data-title="Activation Date">05/25/2014 20:23</td>
					<td data-title="Description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, dolores nobis ratione cum earum! Nihil, exercitationem, quasi ducimus nob.</td>
					<td data-title="Affected Regions">Region 1<br>Region 2</td>
					<td data-title="Facility Types">Hospital<br>Nursing Home<br>Medical Needs Shelter</td>
					<td data-title="Notification Me">Text Message<br> Email</td>
				</tr>
				<tr>
					<td data-title="Activation Date">05/25/2014 20:23</td>
					<td data-title="Description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, dolores nobis ratione cum earum! Nihil, exercitationem, quasi ducimus nob.</td>
					<td data-title="Affected Regions">Region 1<br>Region 2</td>
					<td data-title="Facility Types">Hospital<br>Nursing Home<br>Medical Needs Shelter</td>
					<td data-title="Notification Me">Text Message<br> Email</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>
<!--#include virtual="includes/bottom.shtml" -->