<!-- Discharge People Modal -->
<div class="modal fade" id="dichargePeople" tabindex="-1" role="dialog" aria-labelledby="dischargePeopleLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="mail-compose form-horizontal" action="#">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="dischargePeopleLabel"><i class="fa fa-user-md"></i>Discharge People</h4>
                </div>
                <div class="modal-body">
                    <fieldset>
                        <legend>Comments</legend>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <textarea class="form-control wysihtml5" rows="6"></textarea>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-share-square-o"></i>Submit</button>
                        <a type="button" class="btn" data-dismiss="modal">Cancel</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('input#add-relationship').bind('change', function () {
            if ($('input#add-relationship').prop('checked')) {
                $('#show-for-add-reltionship').removeClass('hide').fadeIn('fast');
            } else {
                $('#show-for-add-reltionship').hide();
            }
        });
    });
</script>
