<!-- IBA Breakdown Modal -->
<div class="modal fade" id="ibaBreakdown" tabindex="-1" role="dialog" aria-labelledby="ibaBreakdownLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="mail-compose form-horizontal" action="#">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="ibaBreakdownLabel"><i class="fa fa-list"></i>Region 1</h4>
                    <h5>Immediate Bed Availability <small>(IBA)</small></h5>
                </div>
                <div class="modal-body">
                    <div class="no-more-tabless">
                        <table class="table table-striped table-condensed table-hover">
                            <tbody>
                                <tr>
                                    <th data-title=" " class="row-header">Memorial Hospital</th>
                                    <td data-title="Percentage Available"><span class="label label-success">24%</span></td>
                                    <td data-title="Number Available / Capacity">12/50</td>
                                </tr>
                                <tr>
                                    <th data-title=" " class="row-header">Central Hospital</th>
                                    <td data-title="Percentage Available"><span class="label label-success">22%</span></td>
                                    <td data-title="Number Available / Capacity">11/50</td>
                                </tr>
                                <tr>
                                    <th data-title=" " class="row-header">City Medical</th>
                                    <td data-title="Percentage Available"><span class="label label-danger">18%</span></td>
                                    <td data-title="Number Available / Capacity">9/50</td>
                                </tr>
                                <tr>
                                    <th data-title=" " class="row-header">General Hospital</th>
                                    <td data-title="Percentage Available"><span class="label label-danger">10%</span></td>
                                    <td data-title="Number Available / Capacity">5/50</td>
                                </tr>
                                <tr>
                                    <th data-title=" " class="row-header">Mercy Hospital</th>
                                    <td data-title="Percentage Available"><span class="label label-danger">N/A</span></td>
                                    <td data-title="Number Available / Capacity">N/A</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
