<!--#include virtual="includes/top.shtml" -->

<div class="facilities-status">

    <div class="content-header">
        <div class="row">
            <div class="col-md-6">
                <h1><i class="fa fa-bar-chart-o"></i>Facilities Status</h1>
            </div>
            <div class="col-md-6">
                <div class="form-inline">
                    <div class="row">
                        <div class="col-sm-4">
                            <label class="control-label sr-only">State</label>
                            <select class="form-control bs-select" data-width="100%" multiple>
                                <option selected>Alabama</option>
                                <option>Alabama Department of Public Health</option>
                                <option>Alabama EMA</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label class="control-label sr-only">Region</label>
                            <select class="form-control bs-select" data-width="100%" multiple>
                                <option selected>Region 1</option>
                                <option>Region 2</option>
                                <option>Region 3</option>
                                <option>Region 4</option>
                                <option>Region 5</option>
                                <option>Region 6</option>
                                <option>Region 7</option>
                                <option>Region 8</option>
                                <option>Region 9</option>
                                <option>Region 10</option>
                                <option>Region 11</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label class="control-label sr-only">County</label>
                            <select class="form-control bs-select" data-width="100%" disabled multiple>
                                <option>Colbert</option>
                                <option>Franklin</option>
                                <option>Lauderdale</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Configure Query -->
    <form action="#" class="build-dataset">
        <div class="well well-sm search">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label sr-only">Facility Type</label>
                        <div class="controls">
                            <select class="form-control bs-select" data-width="100%">
                                <option selected>Select Facility Type</option>
                                <option value="7">Hospital</option>
                                <option value="9">Nursing Home</option>
                                <option value="8">Medical Needs Shelter</option>
                                <option value="3">Community Health Centers</option>
                                <option value="5">EMS</option>
                                <option value="1">Alternate Care Site</option>
                                <option value="2">Blood Center</option>
                                <option value="4">Dialysis Center</option>
                                <option value="6">Evacuee Shelter</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <label for="" class="sr-only">Facility</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Start Typing a Facility, Region or State Name" name="single-facility-search">
                        <div class="input-group-btn">
                            <button class="btn btn-primary show-single-facility-search" type="submit"><i class="glyphicon glyphicon-search"></i>Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- All Results -->
    <div class="row">
        <div class="col-md-9">
            <h2>Results for <small>Alabama | Region 1 </small></h2>
            <h4>Projected IBA <span class="label label-danger">18%</span> <small><a href="#" data-toggle="modal" data-target="#ibaBreakdown">details</a></small></h4>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Updates Aging Threshold</label>
                <div class="controls">
                    <select class="form-control bs-select" data-width="100%">
                        <option selected>4 hours</option>
                        <option>8 hours</option>
                        <option>24 hours</option>
                        <option>48 hours</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <!-- Available Beds -->
    <div class="row">
        <div class="col-sm-12">
            <h3 class="visible-xs"><i class="fa fa-hospital-o"></i>Beds</h3>
            <div class="no-more-tables table-scroll">
                <table class="table table-striped table-hover td-w75px" style="width: auto;">
                    <thead>
                        <tr>
                            <th>
                                <h3><i class="fa fa-hospital-o"></i>Beds</h3>
                            </th>
                            <th>Other</th>
                            <th>Adult Med/Surg</th>
                            <th>Pediatric Med/Surg</th>
                            <th>Adult ICU</th>
                            <th>Pediatric ICU</th>
                            <th>Negative Pressure/ Isolation</th>
                            <th>Burn Beds</th>
                            <th>Psychiatric Beds</th>
                            <th>Operating Rooms</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="row-header" data-title="County">Colbert <small>325<span class="text-muted"> / 400</span></small><div class="progress low-contrast-success">
                                <div class="progress-bar progress-bar-success" style="width: 82%" data-original-title="82%"></div>
                            </div>
                            </th>
                            <td data-toggle="modal" data-target="#cardView" data-title="Other">
                                <div class="progress-info">
                                    <span class="pull-right">36<span class="text-muted"> / 85</span></span>
                                    <span class="gray"><i class="fa fa-comment"></i><i class="fa fa-clock-o"></i></span>
                                </div>
                                <div class="progress low-contrast-danger show-tooltip" title="" data-original-title="21%">
                                    <div class="progress-bar progress-bar-danger" style="width: 21%"></div>
                                </div>
                            </td>
                            <td data-toggle="modal" data-target="#cardView" data-title="Adult Med/Surg">
                                <div class="progress-info">
                                    <span class="pull-right">21<span class="text-muted"> / 24</span></span>
                                    <span class="gray"></span>
                                </div>
                                <div class="progress low-contrast-success show-tooltip" title="" data-original-title="82%">
                                    <div class="progress-bar progress-bar-success" style="width: 82%"></div>
                                </div>
                            </td>
                            <td data-toggle="modal" data-target="#cardView" data-title="Pediatric Med/Surg">
                                <div class="progress-info">
                                    <span class="pull-right">22<span class="text-muted"> / 85</span></span>
                                    <span class="gray"></span>
                                </div>
                                <div class="progress low-contrast-danger show-tooltip" title="" data-original-title="21%">
                                    <div class="progress-bar progress-bar-danger" style="width: 21%"></div>
                                </div>
                            </td>
                            <td data-toggle="modal" data-target="#cardView" data-title="Adult ICU">
                                <div class="progress-info">
                                    <span class="pull-right">73<span class="text-muted"> / 85</span></span>
                                    <span class="gray"></span>
                                </div>
                                <div class="progress low-contrast-success show-tooltip" title="" data-original-title="82%">
                                    <div class="progress-bar progress-bar-success" style="width: 82%"></div>
                                </div>
                            </td>
                            <td data-toggle="modal" data-target="#cardView" data-title="Pediatric ICU">
                                <div class="progress-info">
                                    <span class="pull-right">21<span class="text-muted"> / 85</span></span>
                                    <span class="gray"><i class="fa fa-clock-o"></i></span>
                                </div>
                                <div class="progress low-contrast-danger show-tooltip" title="" data-original-title="21%">
                                    <div class="progress-bar progress-bar-danger" style="width: 21%"></div>
                                </div>
                            </td>
                            <td data-toggle="modal" data-target="#cardView" data-title="Negative Pressure/ Isolation">
                                <div class="progress-info">
                                    <span class="pull-right">71<span class="text-muted"> / 85</span></span>
                                    <span class="gray"><i class="fa fa-comment"></i></span>
                                </div>
                                <div class="progress low-contrast-success show-tooltip" title="" data-original-title="82%">
                                    <div class="progress-bar progress-bar-success" style="width: 82%"></div>
                                </div>
                            </td>
                            <td data-toggle="modal" data-target="#cardView" data-title="Burn Beds">
                                <div class="progress-info">
                                    <span class="pull-right">74<span class="text-muted"> / 85</span></span>
                                    <span class="gray"></span>
                                </div>
                                <div class="progress low-contrast-success show-tooltip" title="" data-original-title="82%">
                                    <div class="progress-bar progress-bar-success" style="width: 82%"></div>
                                </div>
                            </td>
                            <td data-toggle="modal" data-target="#cardView" data-title="Psychiatric Beds">
                                <div class="progress-info">
                                    <span class="pull-right">73<span class="text-muted"> / 85</span></span>
                                    <span class="gray"></span>
                                </div>
                                <div class="progress low-contrast-success show-tooltip" title="" data-original-title="82%">
                                    <div class="progress-bar progress-bar-success" style="width: 82%"></div>
                                </div>
                            </td>
                            <td data-toggle="modal" data-target="#cardView" data-title="Operating Rooms">
                                <div class="progress-info">
                                    <span class="pull-right">11<span class="text-muted"> / 85</span></span>
                                    <span class="gray"><i class="fa fa-clock-o"></i></span>
                                </div>
                                <div class="progress low-contrast-danger show-tooltip" title="" data-original-title="21%">
                                    <div class="progress-bar progress-bar-danger" style="width: 21%"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="row-header" data-title="County">Franklin <small>168<span class="text-muted"> / 328</span></small><div class="progress low-contrast-warning">
                                <div class="progress-bar progress-bar-warning" style="width: 45%" data-original-title="65%"></div>
                            </div>
                            </th>
                            <td data-toggle="modal" data-target="#cardView" data-title="Other">
                                <div class="progress-info">
                                    <span class="pull-right">7<span class="text-muted"> / 85</span></span>
                                    <span class="gray"><i class="fa fa-comment"></i><i class="fa fa-clock-o"></i></span>
                                </div>
                                <div class="progress low-contrast-danger show-tooltip" title="" data-original-title="21%">
                                    <div class="progress-bar progress-bar-danger" style="width: 21%"></div>
                                </div>
                            </td>
                            <td data-toggle="modal" data-target="#cardView" data-title="Adult Med/Surg">
                                <div class="progress-info">
                                    <span class="pull-right">18<span class="text-muted"> / 24</span></span>
                                    <span class="gray"><i class="fa fa-comment"></i></span>
                                </div>
                                <div class="progress low-contrast-warning show-tooltip" title="" data-original-title="42%">
                                    <div class="progress-bar progress-bar-warning" style="width: 42%"></div>
                                </div>
                            </td>
                            <td data-toggle="modal" data-target="#cardView" data-title="Pediatric Med/Surg">
                                <div class="progress-info">
                                    <span class="pull-right">33<span class="text-muted"> / 85</span></span>
                                    <span class="gray"><i class="fa fa-comment"></i></span>
                                </div>
                                <div class="progress low-contrast-warning show-tooltip" title="" data-original-title="42%">
                                    <div class="progress-bar progress-bar-warning" style="width: 42%"></div>
                                </div>
                            </td>
                            <td data-toggle="modal" data-target="#cardView" data-title="Adult ICU">
                                <div class="progress-info">
                                    <span class="pull-right">18<span class="text-muted"> / 85</span></span>
                                    <span class="gray"><i class="fa fa-clock-o"></i></span>
                                </div>
                                <div class="progress low-contrast-danger show-tooltip" title="" data-original-title="21%">
                                    <div class="progress-bar progress-bar-danger" style="width: 21%"></div>
                                </div>
                            </td>
                            <td data-toggle="modal" data-target="#cardView" data-title="Pediatric ICU">
                                <div class="progress-info">
                                    <span class="pull-right">27<span class="text-muted"> / 85</span></span>
                                    <span class="gray"></span>
                                </div>
                                <div class="progress low-contrast-success show-tooltip" title="" data-original-title="82%">
                                    <div class="progress-bar progress-bar-success" style="width: 82%"></div>
                                </div>
                            </td>
                            <td data-toggle="modal" data-target="#cardView" data-title="Negative Pressure/ Isolation">
                                <div class="progress-info">
                                    <span class="pull-right">18<span class="text-muted"> / 85</span></span>
                                    <span class="gray"></span>
                                </div>
                                <div class="progress low-contrast-warning show-tooltip" title="" data-original-title="42%">
                                    <div class="progress-bar progress-bar-warning" style="width: 42%"></div>
                                </div>
                            </td>
                            <td data-toggle="modal" data-target="#cardView" data-title="Burn Beds">
                                <div class="progress-info">
                                    <span class="pull-right">39<span class="text-muted"> / 85</span></span>
                                    <span class="gray"></span>
                                </div>
                                <div class="progress low-contrast-success show-tooltip" title="" data-original-title="82%">
                                    <div class="progress-bar progress-bar-success" style="width: 82%"></div>
                                </div>
                            </td>
                            <td data-toggle="modal" data-target="#cardView" data-title="Psychiatric Beds">
                                <div class="progress-info">
                                    <span class="pull-right">42<span class="text-muted"> / 85</span></span>
                                    <span class="gray"></span>
                                </div>
                                <div class="progress low-contrast-danger show-tooltip" title="" data-original-title="21%">
                                    <div class="progress-bar progress-bar-danger" style="width: 21%"></div>
                                </div>
                            </td>
                            <td data-toggle="modal" data-target="#cardView" data-title="Operating Rooms">
                                <div class="progress-info">
                                    <span class="pull-right">39<span class="text-muted"> / 85</span></span>
                                    <span class="gray"><i class="fa fa-clock-o"></i></span>
                                </div>
                                <div class="progress low-contrast-success show-tooltip" title="" data-original-title="82%">
                                    <div class="progress-bar progress-bar-success" style="width: 82%"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="row-header" data-title="County">Lauderdale <small>135<span class="text-muted"> / 785</span></small><div class="progress low-contrast-danger">
                                <div class="progress-bar progress-bar-danger" style="width: 12%" data-original-title="12%"></div>
                            </div>
                            </th>
                            <td data-toggle="modal" data-target="#cardView" data-title="Other">
                                <div class="progress-info">
                                    <span class="pull-right">17<span class="text-muted"> / 85</span></span>
                                    <span class="gray"><i class="fa fa-comment"></i></span>
                                </div>
                                <div class="progress low-contrast-success show-tooltip" title="" data-original-title="82%">
                                    <div class="progress-bar progress-bar-success" style="width: 82%"></div>
                                </div>
                            </td>
                            <td data-toggle="modal" data-target="#cardView" data-title="Adult Med/Surg">
                                <div class="progress-info">
                                    <span class="pull-right">22<span class="text-muted"> / 24</span></span>
                                    <span class="gray"><i class="fa fa-comment"></i></span>
                                </div>
                                <div class="progress low-contrast-danger show-tooltip" title="" data-original-title="21%">
                                    <div class="progress-bar progress-bar-danger" style="width: 21%"></div>
                                </div>
                            </td>
                            <td data-toggle="modal" data-target="#cardView" data-title="Pediatric Med/Surg">
                                <div class="progress-info">
                                    <span class="pull-right">17<span class="text-muted"> / 85</span></span>
                                    <span class="gray"><i class="fa fa-comment"></i></span>
                                </div>
                                <div class="progress low-contrast-danger show-tooltip" title="" data-original-title="21%">
                                    <div class="progress-bar progress-bar-danger" style="width: 21%"></div>
                                </div>
                            </td>
                            <td data-toggle="modal" data-target="#cardView" data-title="Adult ICU">
                                <div class="progress-info">
                                    <span class="pull-right">37<span class="text-muted"> / 85</span></span>
                                    <span class="gray"></span>
                                </div>
                                <div class="progress low-contrast-danger show-tooltip" title="" data-original-title="21%">
                                    <div class="progress-bar progress-bar-danger" style="width: 21%"></div>
                                </div>
                            </td>
                            <td data-toggle="modal" data-target="#cardView" data-title="Pediatric ICU">
                                <div class="progress-info">
                                    <span class="pull-right">42<span class="text-muted"> / 85</span></span>
                                    <span class="gray"></span>
                                </div>
                                <div class="progress low-contrast-warning show-tooltip" title="" data-original-title="42%">
                                    <div class="progress-bar progress-bar-warning" style="width: 42%"></div>
                                </div>
                            </td>
                            <td data-toggle="modal" data-target="#cardView" data-title="Negative Pressure/ Isolation">
                                <div class="progress-info">
                                    <span class="pull-right">17<span class="text-muted"> / 85</span></span>
                                    <span class="gray"></span>
                                </div>
                                <div class="progress low-contrast-success show-tooltip" title="" data-original-title="82%">
                                    <div class="progress-bar progress-bar-success" style="width: 82%"></div>
                                </div>
                            </td>
                            <td data-toggle="modal" data-target="#cardView" data-title="Burn Beds">
                                <div class="progress-info">
                                    <span class="pull-right">18<span class="text-muted"> / 85</span></span>
                                    <span class="gray"><i class="fa fa-comment"></i><i class="fa fa-clock-o"></i></span>
                                </div>
                                <div class="progress low-contrast-success show-tooltip" title="" data-original-title="82%">
                                    <div class="progress-bar progress-bar-success" style="width: 82%"></div>
                                </div>
                            </td>
                            <td data-toggle="modal" data-target="#cardView" data-title="Psychiatric Beds">
                                <div class="progress-info">
                                    <span class="pull-right">21<span class="text-muted"> / 85</span></span>
                                    <span class="gray"><i class="fa fa-clock-o"></i></span>
                                </div>
                                <div class="progress low-contrast-success show-tooltip" title="" data-original-title="82%">
                                    <div class="progress-bar progress-bar-success" style="width: 82%"></div>
                                </div>
                            </td>
                            <td data-toggle="modal" data-target="#cardView" data-title="Operating Rooms">
                                <div class="progress-info">
                                    <span class="pull-right">42<span class="text-muted"> / 85</span></span>
                                    <span class="gray"><i class="fa fa-clock-o"></i></span>
                                </div>
                                <div class="progress low-contrast-success show-tooltip" title="" data-original-title="82%">
                                    <div class="progress-bar progress-bar-success" style="width: 82%"></div>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <hr />

    <!-- Short Staff -->
    <div class="row">
        <div class="col-sm-12">
            <h3 class="visible-xs"><i class="fa fa-group"></i>Staff</h3>
            <div class="no-more-tables table-scroll">
                <table class="table table-striped table-hover td-w75px" style="width: auto;">
                    <thead>
                        <tr>
                            <th>
                                <h3 class="hidden-xs"><i class="fa fa-group"></i>Staff</h3>
                            </th>
                            <th>Physicians</th>
                            <th>Nurses</th>
                            <th>Nurses Assistants</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="row-header">Colbert</th>
                            <td data-title="Physicians">
                                <div class="progress-info">
                                    <span class="pull-right">0</span>
                                    <span class="gray"><i class="fa fa-comment"></i></span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" style="width: 100%"></div>
                                </div>
                            </td>
                            <td data-title="Nurses">
                                <div class="progress-info">
                                    <span class="pull-right">21</span>
                                    <span class="gray"><i class="fa fa-clock-o"></i></span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                                </div>
                            </td>
                            <td data-title="Nurses Assistants">
                                <div class="progress-info">
                                    <span class="pull-right">5</span>
                                    <span class="gray"><i class="fa fa-comment"></i><i class="fa fa-clock-o"></i></span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="row-header">Franklin</th>
                            <td data-title="Physicians">
                                <div class="progress-info">
                                    <span class="pull-right">11</span>
                                    <span class="gray"><i class="fa fa-comment"></i></span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                                </div>
                            </td>
                            <td data-title="Nurses">
                                <div class="progress-info">
                                    <span class="pull-right">0</span>
                                    <span class="gray"><i class="fa fa-comment"></i><i class="fa fa-clock-o"></i></span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" style="width: 100%"></div>
                                </div>
                            </td>
                            <td data-title="Nurses Assistants">
                                <div class="progress-info">
                                    <span class="pull-right">0</span>
                                    <span class="gray"><i class="fa fa-comment"></i></span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" style="width: 100%"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="row-header">Lauderdale</th>
                            <td data-title="Physicians">
                                <div class="progress-info">
                                    <span class="pull-right">0</span>
                                    <span class="gray"></span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" style="width: 100%"></div>
                                </div>
                            </td>
                            <td data-title="Nurses">
                                <div class="progress-info">
                                    <span class="pull-right">12</span>
                                    <span class="gray"></span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                                </div>
                            </td>
                            <td data-title="Nurses Assistants">
                                <div class="progress-info">
                                    <span class="pull-right">0</span>
                                    <span class="gray"></span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" style="width: 100%"></div>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <hr />

    <!-- Systems Status -->
    <div class="row">
        <div class="col-sm-12">
            <h3 class="visible-xs"><i class="fa fa-tachometer"></i>Systems</h3>
            <div class="no-more-tables table-scroll">
                <table class="table table-striped table-hover td-w75px" style="width: auto;">
                    <thead>
                        <tr>
                            <th>
                                <h3 class="hidden-xs"><i class="fa fa-tachometer"></i>Systems</h3>
                            </th>
                            <th>Elevators</th>
                            <th>Internet</th>
                            <th>Vacuum</th>
                            <th>Telephone</th>
                            <th>Sewer</th>
                            <th>Potable Water</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="row-header">Colbert</th>
                            <td data-title="Elevators">
                                <div class="progress-info">
                                    <span class="pull-right">&nbsp;</span>
                                    <span class="gray"><i class="fa fa-comment"></i><i class="fa fa-clock-o"></i></span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                                </div>
                            </td>
                            <td data-title="Internet">
                                <div class="progress-info">
                                    <span class="pull-right">&nbsp;</span>
                                    <span class="gray"><i class="fa fa-clock-o"></i></span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                                </div>
                            </td>
                            <td data-title="Vacuum">
                                <div class="progress-info">
                                    <span class="pull-right">&nbsp;</span>
                                    <span class="gray"><i class="fa fa-clock-o"></i></span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" style="width: 100%"></div>
                                </div>
                            </td>
                            <td data-title="Telephone">
                                <div class="progress-info">
                                    <span class="pull-right">&nbsp;</span>
                                    <span class="gray"></span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                                </div>
                            </td>
                            <td data-title="Sewer">
                                <div class="progress-info">
                                    <span class="pull-right">&nbsp;</span>
                                    <span class="gray"><i class="fa fa-comment"></i><i class="fa fa-clock-o"></i></span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" style="width: 100%"></div>
                                </div>
                            </td>
                            <td data-title="Potable Water">
                                <div class="progress-info">
                                    <span class="pull-right">&nbsp;</span>
                                    <span class="gray"><i class="fa fa-comment"></i></span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" style="width: 100%"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="row-header">Franklin</th>
                            <td data-title="Elevators">
                                <div class="progress-info">
                                    <span class="pull-right">&nbsp;</span>
                                    <span class="gray"><i class="fa fa-comment"></i><i class="fa fa-clock-o"></i></span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" style="width: 100%"></div>
                                </div>
                            </td>
                            <td data-title="Internet">
                                <div class="progress-info">
                                    <span class="pull-right">&nbsp;</span>
                                    <span class="gray"></span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                                </div>
                            </td>
                            <td data-title="Vacuum">
                                <div class="progress-info">
                                    <span class="pull-right">&nbsp;</span>
                                    <span class="gray"><i class="fa fa-comment"></i></span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                                </div>
                            </td>
                            <td data-title="Telephone">
                                <div class="progress-info">
                                    <span class="pull-right">&nbsp;</span>
                                    <span class="gray"><i class="fa fa-comment"></i></span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" style="width: 100%"></div>
                                </div>
                            </td>
                            <td data-title="Sewer">
                                <div class="progress-info">
                                    <span class="pull-right">&nbsp;</span>
                                    <span class="gray"><i class="fa fa-clock-o"></i></span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" style="width: 100%"></div>
                                </div>
                            </td>
                            <td data-title="Potable Water">
                                <div class="progress-info">
                                    <span class="pull-right">&nbsp;</span>
                                    <span class="gray"></span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="row-header">Lauderdale</th>
                            <td data-title="Elevators">
                                <div class="progress-info">
                                    <span class="pull-right">&nbsp;</span>
                                    <span class="gray"><i class="fa fa-comment"></i><i class="fa fa-clock-o"></i></span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" style="width: 100%"></div>
                                </div>
                            </td>
                            <td data-title="Internet">
                                <div class="progress-info">
                                    <span class="pull-right">&nbsp;</span>
                                    <span class="gray"></span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                                </div>
                            </td>
                            <td data-title="Vacuum">
                                <div class="progress-info">
                                    <span class="pull-right">&nbsp;</span>
                                    <span class="gray"><i class="fa fa-clock-o"></i></span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" style="width: 100%"></div>
                                </div>
                            </td>
                            <td data-title="Telephone">
                                <div class="progress-info">
                                    <span class="pull-right">&nbsp;</span>
                                    <span class="gray"><i class="fa fa-comment"></i></span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" style="width: 100%"></div>
                                </div>
                            </td>
                            <td data-title="Sewer">
                                <div class="progress-info">
                                    <span class="pull-right">&nbsp;</span>
                                    <span class="gray"></span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                                </div>
                            </td>
                            <td data-title="Potable Water">
                                <div class="progress-info">
                                    <span class="pull-right">&nbsp;</span>
                                    <span class="gray"></span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <hr />

    <!-- Short Fuel -->
    <div class="row">
        <div class="col-sm-12">
            <h3 class="visible-xs"><i class="fa fa-tint"></i>Fuel</h3>
            <div class="no-more-tables table-scroll">
                <table class="table table-striped table-hover td-w125px" style="width: auto;">
                    <thead>
                        <tr>
                            <th>
                                <h3 class="hidden-xs"><i class="fa fa-tint"></i>Fuel</h3>
                            </th>
                            <th>Diesel Fuel</th>
                            <th>Gasoline</th>
                            <th>Propane</th>
                            <th>Natural Gas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="row-header">Colbert</th>
                            <td data-title="Diesel Fuel">
                                <div class="progress-info">
                                    <span class="pull-right">-5000 gal</span>
                                    <span class="gray"><i class="fa fa-comment"></i><i class="fa fa-clock-o"></i></span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                                </div>
                            </td>
                            <td data-title="Gasoline">
                                <div class="progress-info">
                                    <span class="pull-right">-2700 lbs</span>
                                    <span class="gray"></span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                                </div>
                            </td>
                            <td data-title="Propane">
                                <div class="progress-info">
                                    <span class="pull-right">Adequate</span>
                                    <span class="gray"></span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" style="width: 100%"></div>
                                </div>
                            </td>
                            <td data-title="Natural Gas">
                                <div class="progress-info">
                                    <span class="pull-right">Adequate</span>
                                    <span class="gray"><i class="fa fa-clock-o"></i></span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" style="width: 100%"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="row-header">Franklin</th>
                            <td data-title="Diesel Fuel">
                                <div class="progress-info">
                                    <span class="pull-right">-1200 gal</span>
                                    <span class="gray"><i class="fa fa-comment"></i><i class="fa fa-clock-o"></i></span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                                </div>
                            </td>
                            <td data-title="Gasoline">
                                <div class="progress-info">
                                    <span class="pull-right">Adequate</span>
                                    <span class="gray"><i class="fa fa-clock-o"></i></span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" style="width: 100%"></div>
                                </div>
                            </td>
                            <td data-title="Propane">
                                <div class="progress-info">
                                    <span class="pull-right">Adequate</span>
                                    <span class="gray"></span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" style="width: 100%"></div>
                                </div>
                            </td>
                            <td data-title="Natural Gas">
                                <div class="progress-info">
                                    <span class="pull-right">-4200 lbs</span>
                                    <span class="gray"></span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="row-header">Lauderdale</th>
                            <td data-title="Diesel Fuel">
                                <div class="progress-info">
                                    <span class="pull-right">-1600 lbs</span>
                                    <span class="gray"></span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                                </div>
                            </td>
                            <td data-title="Gasoline">
                                <div class="progress-info">
                                    <span class="pull-right">Adequate</span>
                                    <span class="gray"></span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" style="width: 100%"></div>
                                </div>
                            </td>
                            <td data-title="Propane">
                                <div class="progress-info">
                                    <span class="pull-right">-5700 gal</span>
                                    <span class="gray"><i class="fa fa-comment"></i><i class="fa fa-clock-o"></i></span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                                </div>
                            </td>
                            <td data-title="Natural Gas">
                                <div class="progress-info">
                                    <span class="pull-right">Adequate</span>
                                    <span class="gray"><i class="fa fa-clock-o"></i></span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" style="width: 100%"></div>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<!-- Sample Modal for Additional Information -->
<div class="modal fade" id="cardView" tabindex="-1" role="dialog" aria-labelledby="cardViewLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="mail-compose form-horizontal" action="#">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="cardViewLabel">Colbert</h4>
                </div>
                <div class="modal-body">

                    <h3><small><i class="fa fa-hospital-o"></i>Beds</small><br>
                        Adult Med/Surg<span class="pull-right">11/24 <span class="badge badge-success">45%</span></span></h3>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" style="width: 45%"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <strong><i class="fa fa-clock-o"></i>Last Updated</strong>
                        </div>
                        <div class="col-xs-9">
                            <p>
                                <strong>2 Days Ago</strong><br>
                                Monday, April 14th, 2014 14:28
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <strong><i class="fa fa-comment"></i>Notes</strong>
                        </div>
                        <div class="col-xs-9">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

<!--#include virtual="includes/teasers/iba-breakdown.shtml" -->

        @Html.Partial("_IBA")

<!--#include virtual="includes/bottom.shtml" -->
